@model ProductManagement.Models.Product

@{
    ViewBag.Title = "Index";
}
<div>
    <center>
        <h2>Welcome</h2>
    </center>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Product List", "List")</li>
                <li>@Html.ActionLink("Add Product", "Create")</li>

            </ul>
            <a class="btn navbar-btn btn-info navbar-right" role="button" href="@Url.Action("Logout", "Home")">Logout</a>
        </div>
    </div>
</div>

<div>
    
    @if (User.Identity.IsAuthenticated)
    { 
<center>
    <p> <h1>
    @User.Identity.Name.ToUpper()
</h1>
    </p>
</center>
    }
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner"> <center>
    <div class="carousel-item active">
        <img src="~/Images/ecom3.jpg" alt="Alternate Text" width="100%" height="550px" />
    </div>
</center>
    </div>
</div>